/* Fonts */

@font-face {
  font-family: "roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-white: #ffffff;
  --basic-white-opacity: rgba(255, 255, 255, 0.3);
  --basic-extra-white: #eeeeee;
  --basic-light-gray: #a6a6a6;
  --basic-gray: #666666;
  --basic-extra-gray: #4d4d4d;
  --basic-dark: #283136;
  --basic-extra-dark: #444444;
  --basic-black-opacity: rgba(0, 0, 0, 0.3);
  --basic-black: #000000;

  --basic-circle-gray: #e1e1e1;

  --hover-extra-white: #dfdfdf;
  --active-extra-white: #d5d5d5;
  --focus-extra-white: #dbdbdb;

  --basic-red: #fb565a;
  --hover-red: #e74246;
  --active-red: #d7373b;

  --basic-green: #00ca74;
  --hover-green: #00bc6c;
  --active-green: #00aa62;

  --basic-yellow: #efc849;
  --hover-yellow: #eab534;
  --active-yellow: #e5a722;

  --border-gray-normal: #d7dcde;
  --border-gray-hover: #b4b9bb;
}

/* Global */

body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "roboto", Arial, san-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-dark);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Container */

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Grid */

.page {
  height: 100%;
}

.inner-grid {
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 140px;
}

/* Main navigation */

.main-header-logo-svg:active path {
  fill: var(--basic-light-gray);
}

.main-nav {
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--basic-extra-white);
}

.main-nav-wrapper {
  display: grid;
  grid-template-columns: 160px 1fr max-content;
}

.site-nav {
  display: flex;
  justify-self: center;
}

.site-nav .link {
  margin-right: 45px;
}

.site-nav li:last-child {
  margin-right: -45px;
}

.site-nav .link,
.cart {
  color: var(--basic-black);
}

.cart img {
  padding-right: 25px;
}

.site-nav .link:hover,
.cart:hover {
  color: var(--basic-red);
}

.site-nav .link:active,
.cart:active {
  color: var(--basic-black-opacity);
}

.link.current {
  border-bottom: 2px solid var(--basic-red);
}

.link.current:hover,
.link.current:active {
  color: var(--basic-black);
}

.inner-body .main-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  padding: 70px 0 110px 0;
  background-color: var(--basic-extra-white);
}

/* Features */

.features {
  background-color: var(--basic-extra-white);
  margin-bottom: 80px;
}

.feature-item {
  display: grid;
  grid-template-columns: max-content 1fr;
}

.feature-item .title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
  width: 400px;
}

.feature-item .text {
  line-height: 24px;
}

/* Filter */

.filter {
  margin-top: 55px;
}

.filter-group {
  border: 0;
}

.filter-group-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  margin: 0;
}

.filter-group-item {
  line-height: 20px;
  color: var(--basic-dark);
}

/* Buttons */

.btn {
  font: inherit;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.btn:hover {
  background-color: var(--hover-red);
}

.btn:active {
  background-color: var(--active-red);
  color: var(--basic-white-opacity);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.btn-services-apps {
  background-color: var(--basic-green);
}

.btn-services-apps:hover {
  background-color: var(--hover-green);
}

.btn-services-apps:active {
  background-color: var(--active-green);
}

.btn-services-pres {
  background-color: var(--basic-yellow);
}

.btn-services-pres:hover {
  background-color: var(--hover-yellow);
}

.btn-services-pres:active {
  background-color: var(--active-yellow);
}

.btn-pattern:focus {
  color: var(--basic-white)
}

.btn-catalog {
  line-height: 18px;
  font-weight: 500;
  background-color: var(--basic-extra-white);
  border-color: var(--basic-extra-white);
  border-radius: 3px;
}

.btn-catalog-disabled {
  background-color: var(--basic-white);
  border-color: var(--focus-extra-white);
}

/* Services */

.services {
  margin-bottom: 80px;
}

.services-items {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  column-gap: 100px;
}

.service-item:nth-child(1) figure {
  background-color: var(--basic-red);
}

figure {
  margin: 0;
}

.service-item:nth-child(2) figure {
  background-color: var(--basic-green);
}

.service-item:nth-child(3) figure {
  background-color: var(--basic-yellow);
}

.service-item .title {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--basic-black);
}

.service-item .text {
  line-height: 24px;
}

/* About */

.about {
  display: grid;
  grid-template-columns: auto 360px;
}

.about-column-left .caption {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.about-column-left .list-title {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
}

.about-column-left .text {
  line-height: 24px;
}

.about-column-left-list li {
  line-height: 24px;
}

.about-column-right .list-title {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
}

.about-column-right-list dt {
  line-height: 18px;
}

.about-column-right-list dd {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
}

.about-column-right-list .procent {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  vertical-align: top;
}

/* Partners */

.partners {
  margin-bottom: 80px;
}

.partners img {
  opacity: 0.2;
}

.partners img:hover {
  opacity: 1;
}

.partners img:active {
  opacity: 0.1;
}

.partners-list {
  display: grid;
  grid-template-columns: 279px 298px 298px 279px;
  column-gap: 2px;
  padding: 45px 0;
}

.partner-item {
  justify-self: center;
  align-self: center;
}

/* Patterns */

.patterns {
  margin-top: 50px;
}

.patterns-list {
  display: flex;
  flex-wrap: wrap;
}

.pattern-item {
  margin-bottom: 30px;
}

.pattern-item:nth-child(even) {
  margin-left: 40px;
}

.pattern-item-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.pattern-item-info {
  width: 255px;
  line-height: 18px;
  color: var(--basic-gray);
}

.sort-item {
  color: var(--basic-black);
  font-size: 14px;
  line-height: 18px;
}

.sort-item-disabled {
  opacity: 0.3;
}

/* Map */

.contacts .caption {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.contacts .address,
.phone {
  line-height: 18px;
  color: var(--basic-gray);
}

/* Social */

.social {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 140px;
}

.social-col {
  align-self: center;
}

.social .caption {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.social .text {
  line-height: 22px;
}

.social-item {
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background: var(--basic-circle-gray) no-repeat center;
}

.social-link {
  font-size: 0;
}

.vk {
  background-image: url(../img/decor/vk-icon.svg);
}

.fb {
  background-image: url(../img/decor/fb-icon.svg);
}

.inst {
  background-image: url(../img/decor/insta-icon.svg);
}

.social-item:hover {
  background-color: var(--hover-red);
}

.social-item:active {
  background-color: var(--active-red);
}

/* Modal */

.modal .title {
  font-size: 45px;
  line-height: 52.73px;
}

.modal label {
  line-height: 18px;
  font-weight: 700;
}

.modal-form-item input,
.modal-form-item textarea {
  font: inherit;
  background-color: transparent;
  border: 2px solid var(--border-gray-normal);
  border-radius: 3px;
}

.modal-form-item input::-webkit-input-placeholder,
.modal-form-item textarea::-webkit-input-placeholder {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-extra-dark);
  opacity: 0.5;
}

.modal-form-item input:hover,
.modal-form-item textarea:hover {
  border-color: var(--border-gray-hover);
}

.modal-form-item input:focus,
.modal-form-item textarea:focus {
  border: 2px solid var(--basic-black);
}

.modal-form-item input:invalid,
.modal-form-item textarea:invalid {
  border: 2px solid var(--hover-red);
}

.modal-form-item input:invalid::-webkit-input-placeholder,
.modal-form-item textarea:invalid::-webkit-input-placeholder {
  color: var(--hover-red);
}

.modal-form-item input:focus::-webkit-input-placeholder,
.modal-form-item textarea:focus::-webkit-input-placeholder {
  opacity: 1;
  color: var(--basic-extra-dark);
}

.modal-close {
  opacity: 0.3;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

.hidden {
  font-size: 0;
  line-height: 0;
}
